<body id="christmas">
	<div class="container">
		<h1 id="christmas">Merry Christmas Tay &lt;3</h1>
		<div class="six columns offset-by-five alpha">
			<div class="christmas_color1">
				<div class="menu_margin center">
					<h2 id="christmas">Menu</h2>
					<hr>
					<p style="font-size:200%">
					· <%= link_to 'Catch Rate Calculator', 'catch_rates/new' %>
					</p>
					<p style="font-size:200%">
					· <%= link_to 'Pokemon Quiz LITE', 'multiplechoice' %>
					</p>
					<p style="font-size:200%">
					· <%= link_to 'I love you!', controller: 'games' %>
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</body>