<%= javascript_include_tag "snowstorm" %>
<head>
<title>DHTML SnowStorm: Basic Example</title>
<script type="text/javascript" src="snowstorm.js"></script>
</head>


<body id="christmas">
	<div class="container">
		<h1 id="christmas">Merry Christmas Tay &lt;3</h1>
		<%= link_to 'Home', root_path %>
	</div>
</body>

